ESC_ContentManagementSample/.vscode/
ESC_ContentManagementSample/Build/
ESC_ContentManagementSample/Library/
ESC_ContentManagementSample/Logs/
ESC_ContentManagementSample/Temp/
ESC_ContentManagementSample/UserSettings/
ESC_ContentManagementSample/Assets/SceneDependencyCache/